<!DOCTYPE html>
<html>
<head>
  <title>Social Housing</title>
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>
<body class="application">
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">Social Housing Developments in Ireland - Dashboard</a>
      </div>
    </div>
  </div>
  <div  id="outer" class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <div class="row">
          <!-- houses per county/city Chart -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of Houses per County/City
              </div>
              <div class="chart-stage">
                <div id="houseperC-chart"></div>
              </div>
            </div>
          </div>
          <!-- houses per county/city Chart -->

          <!-- Status of sites 2017 -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                2017 Status of Sites
              </div>
              <div class="chart-stage">
                <div id="siteStatus-chart"></div>
              </div>
            </div>
          </div>
          <!-- Status of sites 2017 -->

          <!-- Stage of completion piechart -->
          <div class="col-sm-6">
            <div class="chart-wrapper">
              <div class="chart-title">
                Stage of Completion Pie-Chart
              </div>
              <div class="chart-stage">
                <div id="stageofCompl_pie-chart"></div>
              </div>
            </div>
          </div>
          <!-- Stage of completion piechart -->
        </div>
      </div>

      <!-- Stage of completion -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Stage of Completion
          </div>
          <div class="chart-stage">
            <div id="stageofCompletion-chart"></div>
          </div>
        </div>
      </div>
      <!-- Stage of completion -->

      <!-- menu select -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
              <!--TEST FOR GIT push index.html...small change-->
            Houses per Area
          </div>
          <div class="chart-stage">
            <div id="menu-select"></div>
          </div>
        </div>
      </div>
      <!-- menu select -->

      <!-- Metric 1 -->
      <div class="col-sm-2">
        <div class="chart-wrapper">
          <div class="chart-title">
            Total Number of Houses
          </div>
          <div class="chart-stage" style="background: #33CC99;
            position: relative;
            font-size: 29px;
            color: white;
            vertical-align: middle;
            text-align: center;
            padding-top: 12px;
            padding-bottom: 0px;">
            <div id="totalnumHouses"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

    </div>
  </div>
  <hr>
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js')}}"></script>
</body>
</html>